[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
sounddevice = "*"
librosa = "*"
"eyed3" = "*"
pydub = "*"

[dev-packages]

[requires]
python_version = "3.6"
